@import "../variables";

.landing {
  height: 100vh;
  img {
    width: 700px;
    margin-right: 40vw;
    margin-top: 7vh;
  }
  @media (max-width: $desktopMobileToggleWidth) {
    img {
      width: 90vw;
      margin: auto;
      padding: 0;
    }
  }
  .register {
    margin: auto;
    padding-bottom: 100%;
    @media (max-width: $desktopMobileToggleWidth) {
      padding-bottom: 50%;
    }
    @media (min-width: $desktopMobileToggleWidth) {
      p {
        font-size: 30px;
      }
    }
    & > * {
      margin: 5px;
    }
  }
}
