@import "../variables";

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  img {
    width: 700px;
    margin-right: 40vw;
    margin-top: 7vh;
  }
  @media (max-width: $desktopMobileToggleWidth) {
    flex-direction: column;
    img {
      width: 90vw;
      margin: auto;
      padding: 0;
    }
  }
  .top-right {
    position: absolute;
    top: 0;
    color: $purple;
    right: 0;
    padding: 15px;
  }
  .register {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 100%;
    @media (max-width: $desktopMobileToggleWidth) {
      padding-bottom: 50%;
    }
    @media (min-width: $desktopMobileToggleWidth) {
      p {
        font-size: 30px;
      }
    }
    & > * {
      margin: 5px;
    }
  }
}
