@import "../variables";

.landing {
  height: 100vh;
  .padding {
    padding-left: 10px;
    padding-top: 2px;
  }
  .top-right {
    position: absolute;
    top: 0;
    left: 0;
    a {
      text-decoration: none;
      color: $fontColor;
      font-weight: 600;
      transition: 0.3s;
      &:hover {
        color: $purple;
      }
    }
  }
  img {
    width: 700px;
    margin-right: 40vw;
    margin-top: 7vh;
  }
  @media (max-width: $desktopMobileToggleWidth) {
    img {
      width: 90vw;
      margin: auto;
      padding: 0;
    }
  }
  .register {
    margin: auto;
    padding-bottom: 100%;
    @media (max-width: $desktopMobileToggleWidth) {
      padding-bottom: 50%;
    }
    @media (min-width: $desktopMobileToggleWidth) {
      p {
        font-size: 30px;
      }
    }
    & > * {
      margin: 5px;
    }
  }
}
