@import "../variables";

.team {
    width: 90vw;
    margin: auto;
    .members {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        @media (min-width: $desktopMobileToggleWidth) {
            padding-bottom: 6vh;
        }
        @media (max-width: $desktopMobileToggleWidth) {
            flex-direction: column;
        }
        .member {
            @media (min-width: $desktopMobileToggleWidth) {
                width: 20vw;
                margin: 0 10px 0 10px;
                h3 {
                    font-size: 20px;
                }
                p,
                a {
                    font-size: 16px;
                }
            }
            @media (max-width: $desktopMobileToggleWidth) {
                margin: 10px 0 10px 0;
            }
            img {
                width: 200px;
            }
            a {
                margin-left: 5px;
                text-decoration: none;
                color: $fontColor;
                transition: 0.3s;
                &:hover {
                    font-size: 18px;
                }
            }
            .limited {
                margin: auto;
                height: 200px;
                width: 200px;
                overflow: hidden;
                background-color: $darkBlue;
                border-radius: 360px;
                display: block;
            }
        }
    }
}
