@import "../variables";

.contact {
    width: 100vw;
    margin: auto;
    margin-bottom: 30px;
    .blue {
        padding-top: 15px;
        color: $darkBlue;
        font-weight: 600;
    }
    p {
        text-align: center;
        margin: 0;
    }
    .icons {
        padding-top: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media (max-width: $desktopMobileToggleWidth) {
            margin: 0 5vw 0 5vw;
            padding-top: 30vw;
        }
        .icon-circle {
            margin: auto;
            height: 55px;
            width: 55px;
            background-color: $darkBlue;
            border-radius: 50%;
            text-align: center;
            .icon {
                line-height: 55px;
                color: $fontColor;
                font-size: $pFontSize + 3px;
                transition: 0.3s;
                &:hover {
                    font-size: $pFontSize + 8px;
                }
            }
        }
    }
}
