$darkBlue: #506c8f;
$lightBlue: #98b7de;
$bluePurple: #aeaad5;
$purple: #c49dce;
$lightPurple: #d1b1cf;
$fontColor: white;
$buttonColor: $lightPurple;
$buttonHover: rgba(255, 255, 255, 0);

$header1FontSize: 96px;
$header2FontSize: 48px;
$header3FontSize: 36px;
$pFontSize: 24px;

$mobileHeader1FontSize: 10vw;
$mobileHeader2FontSize: 6vw;
$mobileHeader3FontSize: 5vw;
$mobilepFontSize: 5vw;

$desktopMobileToggleWidth: 767px;

.contact {
    height: 50vw;
    width: 100vw;
    background-image: url("../constants/assets/clouds.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    @media (max-width: $desktopMobileToggleWidth) {
        background-size: cover;
    }
    p {
        text-align: center;
        margin: 0;
    }
    .icons {
        @media (max-width: $desktopMobileToggleWidth) {
            margin: 0 10vw 0 10vw;
        }
        margin: 0 33vw 0 33vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            font-size: 3vw;
            color: white;
            transition: 0.3s;
            @media (max-width: $desktopMobileToggleWidth) {
                color: $darkBlue;
                font-size: 6vw;
            }
            &:hover {
                color: $darkBlue;
            }
        }
    }
}
