@import "../variables";

.about {
    width: 90vw;
    margin: auto;
    .about-photo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
            padding-left: 50px;
            width: 20vw;
        }
        @media (max-width: $desktopMobileToggleWidth) {
            flex-direction: column;
            img {
                padding-left: 0;
                padding-top: 25px;
                width: inherit;
            }
        }
    }
}
