@import "../variables";

.about {
    width: 90vw;
    margin: auto;
    @media (min-width: $desktopMobileToggleWidth) {
        img {
            padding-left: 90px;
            height: 60vh;
            width: auto;
        }
    }
    @media (max-width: $desktopMobileToggleWidth) {
        flex-direction: column;
        img {
            padding-left: 0;
            padding-top: 25px;
            width: 100%;
            height: auto;
        }
    }
}
