@import "../variables";

//schedule
.schedule {
    width: 90vw;
    margin: auto;
    .dates {
        display: flex;
        @media (min-width: $desktopMobileToggleWidth) {
            flex-direction: row;
            margin: 0 30px 0 50px;
            padding-top: 15px;
        }
        @media (max-width: $desktopMobileToggleWidth) {
            // flex-direction: column;

            flex-direction: row;
            margin: 0 15px 0 15px;
            padding-top: 7px;
        }
        .date {
            background-color: $purple;
            padding: 5px 10px;
            cursor: pointer;
            h3 {
                text-transform: uppercase;
            }
            @media (min-width: $desktopMobileToggleWidth) {
                border-radius: 5px 5px 0 0;
                margin-right: 5px;
                h3 {
                    font-size: 20px;
                }
            }
            @media (max-width: $desktopMobileToggleWidth) {
                h3 {
                    font-size: 15px;
                }
                padding: 3px 7px;
                border-radius: 5px 5px 0 0;
                margin-right: 5px;
            }
        }
        .active {
            background-color: darken($color: $lightPurple, $amount: 20%);
        }
    }
    .events {
        background-color: white;
        border-radius: 15px;
        @media (min-width: $desktopMobileToggleWidth) {
            padding: 30px;
            margin: 0 30px 30px 30px;
        }
        @media (max-width: $desktopMobileToggleWidth) {
            padding: 15px;
        }
        .event {
            background-color: $lightGrey;
            border-radius: 15px;
            color: $darkGrey;
            @media (min-width: $desktopMobileToggleWidth) {
                margin: 10px;
                padding: 20px 15px;
            }
            @media (max-width: $desktopMobileToggleWidth) {
                margin: 7px 0 7px 0;
                padding: 10px 7px;
            }
            .details {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 50vw;
                @media (max-width: $desktopMobileToggleWidth) {
                    width: 100%;
                }
                .start,
                .end,
                .presenter {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
