@import "../variables";

.roles {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    @media (max-width: $desktopMobileToggleWidth) {
        width: 90vw;
        flex-direction: column;
    }
    .role-panel {
        background-color: $darkBlue;
        margin: 4% 1%;
        padding: 15px;
        border-radius: 15px;
        text-align: center;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    center {
        margin-top: 10px;
    }
}
