@import "../variables";

.get-involved {
    width: 90vw;
    margin: 0 auto;
    .roles {
        @media (max-width: $desktopMobileToggleWidth) {
            width: 90vw;
        }
        .role {
            min-height: 40vh;
            justify-content: space-between;
        }
        center {
            margin-top: 10px;
        }
    }
}
