$darkBlue: #506c8f;
$lightBlue: #98b7de;
$bluePurple: #aeaad5;
$purple: #c49dce;
$lightPurple: #d1b1cf;
$fontColor: white;
$buttonColor: $lightPurple;
$buttonHover: rgba(255, 255, 255, 0);

$header1FontSize: 96px;
$header2FontSize: 48px;
$header3FontSize: 30px;
$pFontSize: 20px;

$mobileHeader1FontSize: 10vw;
$mobileHeader2FontSize: 6vw;
$mobileHeader3FontSize: 5vw;
$mobilepFontSize: 5vw;

$desktopMobileToggleWidth: 767px;
